@import '../../scss/vars.scss';

* {
  padding: 0;
  margin: 0;
}

body {
  user-select: none;
  background-color: $body-bg-color;
}

body, button, input, select, table, textarea {
  font-size: $body-font-size;
  line-height: 1.5;
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-font-color;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
